.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-a {
  width: 10%;
}

.column-b {
  width: 70%;
}

.column-c {
  width: 20%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-align {
  text-align: center;
}

.padding-top {
  padding-top: 0.8rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-0 {
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-r {
  justify-content: right;
}

/* .ta-right {
  text-align: right;
} */

#play-again {
  margin: 0 3rem;
}

#arrowUp {
  right: -1.5rem;
  top: 1rem;
}

#arrowDown {
  right: -1.5rem;
  bottom: 1rem;
}
