.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full, {
  width: 100%;
}

.column-half {
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  } */
}
