.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-seven-tenths {
  width: 70%;
}

.column-three-tenths {
  width: 30%;
}

.column-two-tenths {
  width: 20%;
}

.column-one-tenths {
  width: 10%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-block {
  display: block;
}

.text-align {
  text-align: center;
}

.padding-top {
  padding-top: 0.8rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-0 {
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.jc-evenly {
  justify-content: space-evenly;
}

.overflow-hidden {
  overflow: hidden;
}

#arrowUp {
  right: -1.5rem;
  top: 1rem;
}

#arrowDown {
  right: -1.5rem;
  bottom: 1rem;
}

#indicator {
  right: -1.6rem;
  top: -3rem;
}

#input-div {
  display: block;
  width: 100%;
  text-align: center;
}

@media (min-width: 500px) {
  input {
    margin: 0.5rem;
  }

  h4 {
    margin: 1.4rem auto;
  }

  .card {
    width: 500px;
  }
}
