.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-nine-tenths {
  width: 90%;
}

.column-one-tenths {
  width: 10%;
}

.mb-1 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  } */
}
