body {
  background-color: #57cc99;
  font-family: 'Signika Negative', sans-serif;
}

h1 {
  color: white;
}

h2,
h4 {
  font-weight: 400;
}

button {
  border-radius: 0.2rem;
  margin: 1rem 0;
  padding: 0.6rem 1rem;
  border: none;
  color: white;
  background-color: blue;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-line {
  border-bottom: 3px solid white;
}

.card {
  background-color: white;
  width: 550px;
  border-radius: 5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 1);
}

#lyrics {
  padding: 0 0 2rem 2rem;
}

#home {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#arrowUp,
#arrowDown {
  font-size: 1.5rem;
  cursor: pointer;
}
